.showcase {
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.showcase:hover {
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.showcase .showcase-banner {
    position: relative;
}

.showcase .showcase-banner .product-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.showcase .showcase-banner .product-img.default {
    position: relative;
    z-index: 1;
}

/* .product-grid .product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.product-grid .showcase:hover .product-img.hover {
    opacity: 1;
} */

.showcase:hover .product-img.default {
    opacity: 1;
}

.showcase:hover .product-img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.showcase .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: var(--white);
    padding: 0 8px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    z-index: 3;
}

.showcase .showcase-badge.angle {
    top: 8px;
    left: -29px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
}

.showcase .showcase-badge.black {
    background: var(--eerie-black);
}

.showcase .showcase-badge.pink {
    background: var(--salmon-pink);
}

.showcase .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 3;
}

.showcase:hover .showcase-actions {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.showcase .btn-action {
    background: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--cultured);
    padding: 5px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    display: flex;
}

.showcase .btn-action:hover {
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
}

.showcase .showcase-content {
    padding: 15px 20px 0;
}

.showcase .showcase-category {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.showcase .showcase-title {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showcase .showcase-title:hover {
    color: var(--eerie-black);
}

.showcase .showcase-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: var(--sandy-brown);
    margin-bottom: 10px;
}

.showcase .price-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: var(--fs-7);
    color: var(--eerie-black);
    margin-bottom: 10px;
}
.showcase .price {
    font-weight: var(--weight-700);
}
.showcase del {
    color: var(--sonic-silver);
}