/**
    # THIS FOR FIRST STYLE OR THE MAIN STYLE
**/

.showcase {
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    font-family: "Poppins", sans-serif;
}

.showcase:hover {
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.showcase .showcase-banner {
    position: relative;
}

.showcase .showcase-banner .product-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.showcase .showcase-banner .product-img.default {
    position: relative;
    z-index: 1;
}

.showcase:hover .product-img.default {
    opacity: 1;
}

.showcase:hover .product-img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.showcase .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: var(--white);
    padding: 0 8px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    z-index: 3;
}

.showcase .showcase-badge.angle {
    top: 8px;
    left: -29px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
}

.showcase .showcase-badge.black {
    background: var(--eerie-black);
}

.showcase .showcase-badge.pink {
    background: var(--salmon-pink);
}

.showcase .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 3;
}

.showcase:hover .showcase-actions {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.showcase .btn-action {
    background: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--cultured);
    padding: 5px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    display: flex;
}

.showcase .btn-action:hover {
    background: var(--main-color);
    color: var(--white);
    border-color: var(--second-color);
}

.showcase .showcase-content {
    padding: 15px 20px 0;
}

.showcase .showcase-category {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.showcase .showcase-title {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showcase .showcase-title:hover {
    color: var(--eerie-black);
}

.showcase .showcase-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: var(--sandy-brown);
    margin-bottom: 10px;
}

.showcase .price-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: var(--fs-7);
    color: var(--eerie-black);
    margin-bottom: 10px;
}
.showcase .price {
    font-weight: var(--weight-700);
}
.showcase del {
    color: var(--sonic-silver);
}

/**
    # THIS FOR SECOND STYLE
**/


.productInSecondStyle {
    border: 1px solid #e5dada;
    border-radius: 5px;
    display: flex;
    width: 100%;
    transition: ease 0.2s;
    font-family: "Poppins", sans-serif;
}
.productInSecondStyle:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1882352941);
}
.productInSecondStyle .productImage {
flex: 1;
}
.productInSecondStyle .productImage img {
max-width: 100%;
max-height: 100%;
margin: auto;
width: auto;
-o-object-fit: fill;
    object-fit: fill;
border-radius: 5px;
}
.productInSecondStyle .description {
flex: 4;
font-size: 18px;
padding: 10px;
color: gray;
}
.productInSecondStyle .description .Title {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 4px;
}
.productInSecondStyle .description .rating {
margin: 0 !important;
display: flex;
width: 233px;
justify-content: space-between;
align-items: center;
}
.productInSecondStyle .description .rating .rating-avg {
font-size: 17px;
color: orange;
}
.productInSecondStyle .description .rating .total-reviews {
font-size: 15px;
}
.productInSecondStyle .description p {
font-size: 16px;
font-weight: 300;
margin-top: 6px;
}
.productInSecondStyle .addTocart {
flex: 2;
border-left: 1px solid #e5dada;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px 10px;
}
.productInSecondStyle .addTocart .price span {
    font-size: 19px;
    font-weight: 500;
    margin-right: 6px;
}
.productInSecondStyle .addTocart .price span + small {
    font-size: 17px;
    color: lightgray;
    text-decoration: line-through;
    font-weight: 500;
}
.productInSecondStyle .addTocart .button {
display: flex;
justify-content: center;
flex-direction: column;
}
.productInSecondStyle .addTocart .button .soldOut {
cursor: default;
}
.productInSecondStyle .addTocart .button button {
width: 100%;
font-size: 18px;
padding: 5px;
font-family: "Hind", sans-serif !important;
border-radius: 5px;
text-transform: none;
box-shadow: none;
}
.productInSecondStyle .addTocart .button button:first-child {
margin-bottom: 5px;
}
.productInSecondStyle .addTocart .button button:last-child {
background-color: rgba(229, 239, 243, 0.63);
color: #3471ff;
font-weight: 500;
}