/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.slider-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    -webkit-scroll-snap-type: inline mandatory;
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item .banner-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.banner-content {
    /* background: hsla(0, 0%, 100%, 0.8); */
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
}

.banner-subtitle {
    color: var(--second-color);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

.banner-text {
    display: none;
}

.banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 11px 22px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.banner-btn:hover {
    background: var(--eerie-black);
}

/*-----------------------------------*\
    #PRODUCT GRID
  \*-----------------------------------*/
.product-container{
    font-family: "Poppins", sans-serif;
}
.product-main {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.product-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
}

/*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/


/**
   * responsive larger than 480px screen
   */


@media (min-width: 480px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 1.875rem;

    }

    /**
     * #BANNER
     */

    .slider-item {
        aspect-ratio: 5 / 3;
    }

    .banner-content {
        top: 50%;
        right: auto;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 320px;
    }

    .banner-subtitle {
        --fs-7: 1rem;
    }

    .banner-text {
        display: block;
        color: var(--sonic-silver);
        font-size: var(--fs-7);
        font-weight: var(--weight-500);
        margin-bottom: 10px;
    }

    .banner-text b {
        font-size: var(--fs-2);
    }

    .banner-btn {
        padding: 7px 20px;
    }



    /**
     * #PRODUCT 
     */

    .product-grid {
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}


/**
   * responsive larger than 570px screen
   */

@media (min-width: 570px) {

    /**
     * #BANNER
     */

    .slider-item {
        aspect-ratio: 4 / 2;
    }

    .banner-content {
        background: none;
    }

    /**
     * #PRODUCT
     */

    .product-minimal .showcase-container {
        min-width: 50%;
    }

    .product-featured .showcase-img {
        max-width: 450px;
        margin: auto;
    }

    .product-featured .countdown {
        gap: 20px;
    }

}

/**
   * responsive larger than 768px screen
   */

@media (max-width: 768px) {
    /* side bar */
    
    .sidebar {
        background: var(--white);
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        max-width: 320px;
        padding: 30px;
        overflow-y: scroll;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        visibility: hidden;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        z-index: 20;
      }
}

@media (min-width: 768px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 2.375rem;

    }

    /**
     * #BANNER 
     */

    .slider-item {
        aspect-ratio: auto;
        height: 350px;
    }

    .banner-content {
        max-width: 380px;
    }

    .banner-subtitle {
        --fs-7: 1.25rem;
    }

    .banner-text {
        --fs-7: 1.125rem;
    }

    .banner-text b {
        --fs-2: 1.875rem;
    }

    .banner-btn {
        --fs-11: 0.75rem;
    }

    /**
     * #PRODUCT 
     */

    .product-minimal {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
    }

    .product-minimal .product-showcase {
        min-width: -webkit-calc(50% - 10px);
        min-width: calc(50% - 10px);
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
    }

    .product-minimal .showcase-container {
        min-width: 100%;
    }

    .product-featured .showcase {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;
    }

    .product-featured .showcase-img {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    .product-featured .showcase-content {
        margin-top: 0;
        min-width: -webkit-calc(100% - 345px);
        min-width: calc(100% - 345px);
    }

}

/**
   * responsive larger than 1024px screen
   */

@media (min-width: 1024px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 2.625rem;
        --fs-2: 1.125rem;

    }

    /**
     * #BANNER 
     */

    .banner {
        margin-top: 0;
    }

    .slider-item {
        height: 380px;
    }

    .banner-content {
        left: 75px;
        max-width: 400px;
    }

    .banner-subtitle {
        --fs-7: 1.625rem;
    }

    .banner-text {
        --fs-7: 1.375rem;
    }

    .banner-btn {
        --fs-11: 0.875rem;
    }


    /**
     * #PRODUCT 
     */

    .product-container .container {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .sidebar {
        --fs-5: 0.941rem;

        position: -webkit-sticky;

        position: sticky;
        top: 30px;
        left: 0;
        padding: 0;
        min-width: -webkit-calc(25% - 15px);
        min-width: calc(25% - 15px);
        margin-bottom: 30px;
        visibility: visible;
        overflow-y: auto;
        -ms-scroll-chaining: chained;
        overscroll-behavior: auto;
        z-index: 0;
    }

    .sidebar-category {
        padding: 20px;
        margin-bottom: 30px;
        border: 1px solid var(--cultured);
        -webkit-border-radius: var(--border-radius-md);
        border-radius: var(--border-radius-md);
    }

    .sidebar-close-btn {
        display: none;
    }

    .product-box {
        min-width: -webkit-calc(75% - 15px);
        min-width: calc(75% - 15px);
    }

    .product-minimal {
        margin-bottom: 20px;
    }

    .product-minimal .product-showcase {
        min-width: -webkit-calc(33.33% - 14px);
        min-width: calc(33.33% - 14px);
        width: -webkit-calc(33.33% - 14px);
        width: calc(33.33% - 14px);
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .product-minimal .showcase-wrapper {
        gap: 10px;
    }

    .product-minimal .showcase-container {
        padding: 2px;
    }

    .product-featured .countdown-content {
        padding: 5px 10px;
    }

    .product-grid {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }
}

/**
   * responsive larger than 1200px screen
   */

@media (min-width: 1200px) {

    /**
     * #BANNER
     */

    .slider-item:last-child .banner-img {
        -o-object-position: top;
        object-position: top;
    }

    /**
     * #PRODUCT
     */

    .product-featured .showcase>div {
        min-width: -webkit-calc(50% - 10px);
        min-width: calc(50% - 10px);
    }

    .product-featured .display-number {
        --fs-5: 1.125rem;
    }

    .product-grid {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }

}

/**
   * responsive larger than 1400px screen
   */

@media (min-width: 1400px) {

    /**
     * #BANNER
     */

    .slider-item {
        height: 450px;
    }

    .banner-content {
        left: 110px;
        max-width: 460px;
    }

}